<footer class="bg-dark  mt-4 p-3 ">
    <div class="container text-white">
      <div class="row">
        <div class="col-12 col-md-4">
          <p></p>
          <p>Todo Bieeen</p>
          <p>Edison mesa tapias &copy;</p>
        </div>
        <div class="col-12 col-md-4">
          <p></p>
          <p>Todo Bieeen</p>
          <p>Edison mesa tapias &copy;</p>
        </div>
        <div class="col-12 col-md-4">
          <p></p>
          <p>Todo Bieeen</p>
          <p>Edison mesa tapias &copy;</p>
        </div>
      </div>
    </div>
</footer>
